.swim {
  color: blue
}
.jumbotron{
  text-align: center;
  background-color: #666666;
  color: #F9F5EA;


}

body {
  background-color: #212121;
  color: #F9F5EA;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
